@import '../common.scss';

.modal
{
    -moz-osx-font-smoothing : grayscale;
    -webkit-font-smoothing : antialiased;

    div { box-sizing:border-box; }
}



:global {
    .ReactModal__Overlay {
        background: rgba(30, 30, 30, 0);
        opacity: 1;
    }

    .ReactModal__Overlay--after-open {
        background: rgba(30, 30, 30, 0.6);
        transition: background 0.2s cubic-bezier(0.23, 1, 0.32, 1);
    }
    .ReactModal__Overlay--before-close {
        pointer-events: none;
        background: rgba(30, 30, 30, 0);
        transition: background 0.15s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    }

    .ReactModal__Content {
        opacity: 0.66;
        transform: translateX(-50%) translateY(-50%) scale(0.93);
    }

    .ReactModal__Content--after-open {
        opacity: 1;
        transform: translateX(-50%) translateY(-50%) scale(1);
        transition: opacity 0.35s cubic-bezier(0.23, 1, 0.32, 1), transform 0.35s cubic-bezier(0.23, 1, 0.32, 1);
    }    

    .ReactModal__Content--before-close {
        pointer-events: none;
        opacity: 0;
        transform: translateX(-50%) translateY(-50%) scale(0.9);
        transition: opacity 0.3s cubic-bezier(0.23, 1, 0.32, 1), transform 0.04s cubic-bezier(0.23, 1, 0.32, 1);
    }    
}